.jumbotron {
  padding-top: 6rem;
  background-color: #fffff0;
}
section {
  padding-top: 5rem;
}
footer {
  background-color: #eec373;
}
#Home {
  background-color: #fffff0;
}
#About {
  background-color: #fffff0;
}
#Company {
  background-color: #fffff0;
}
#Katalog {
  background-color: #fffff0;
}
#Contact {
  background-color: #fffff0;
}
